.input_style{
    font-family: Poppins-Medium, serif;
    font-size: 25px;
    color: rgba(13, 66, 80, 0.85);
    display: block;
    width: 700px;
    background: #e8a87c;
    height: 50px;
    border-radius: 15px;
    outline: none;
}

.button_style{
    position: relative;
    top: -55px;
    left: 800px;
    height: 50px;
    width: 150px;
    border-radius: 5px;
    background-color: #e8a87c;
    font-family: Poppins-Medium, serif;
    font-size: 20px;
    color: rgba(8, 52, 62, 0.85);
}
#inputID::placeholder {
    color: rgba(8, 52, 62, 0.85);
    opacity: 1;
}
